.drawer__header {
  padding: 2rem 2.5rem !important;
  background: rgb(123, 188, 114);
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.drawer__close {
  color: #fff;
  top: 3rem;
  right: 2rem;
}

.drawer__inner-empty .drawer__close {
  color: #000000;
}

.drawer__heading {
  font-size: 3.5rem !important;
  margin-bottom: 0 !important;
  color: #ffffff;
}

.drawer__inner {
  padding: 0;
}
.drawer__inner .h4{
  letter-spacing: normal;
}

.drawer__subheading {
  color: #ffffff;
}

cart-drawer-items {
  padding-inline: 2.5rem;
}

.cart-item__name {
  font-size: 16px !important;
}

.cart-item__discounted-prices .cart-item__old-price {
  font-size: 1.2rem;
}

cart-drawer-items .product-option {
  font-size: 1.3rem;
}

.cart-drawer .cart-item__totals {
  flex-direction: column;
  justify-content: space-between;
  padding-block: 20%;
  pointer-events: all !important;
}

.cart-item__details {
  line-height: 1;
}

.cart-quantity {
  width: 10.5rem;
  height: 3.5rem;
  min-height: auto;
}

.cart-quantity:before,
.cart-quantity:after {
  border-radius: 0.4rem;
}

.cart-quantity .quantity__button {
  width: 3rem;
  height: 3.5rem;
}

.cart-quantity .quantity__input {
  width: 4.5rem;
  height: 3.5rem;
}

.cart-item__quantity-wrapper {
  padding-top: 0.4rem;
}

.cart-item__details > * + * {
  line-height: 1;
}

.cart-item__price-wrapper .price {
  font-size: 1.3rem;
  font-weight: bold;
}

.cart-item__discount-prices-wrapper .cart-item__discounted-prices {
  gap: 0 !important;
  margin-bottom: 1rem;
}

.cart-item__discount-prices-wrapper .cart-item__discounted-prices .cart-item__old-price {
  font-size: 1rem !important;
}

.cart-item__discount-prices-wrapper cart-drawer-items .product-option {
  font-size: 1.2rem !important;
}

.cart-item cart-remove-button {
  margin-left: auto !important;
}

.cart-quantity .quantity__input {
  font-size: 1.2rem !important;
}

.cart-item__details .product-option {
  font-size: 1rem !important;
  list-style: 1 !important;
}

.cart-item__details .discount-percentage {
  margin-top: 0.3rem;
}

.discount-percentage {
  display: inline-block !important;
  font-size: 11px !important;
  margin-top: 0.4rem;
}

.got__more-text {
  font-size: 1.2rem;
  line-height: 1.4;
  color: black;
  padding: 8px 2.5rem;
  background-color: #f2f2f2;

}

@media (max-width: 768px){
  .got__more-text {
  padding: 8px 1.5rem;
}
}

.got__more-text p {
  margin: 0;
}

.drawer__footer {
  padding-inline: 2.5rem !important;
}

.cart-drawer__footer .totals__total {
  font-size: 2rem !important;
}

.totals__total-value {
  font-size: 1.5rem !important;
}

.cart-drawer .tax-note {
  margin-block: 1rem !important;
}

.cart__checkout-button {
  min-height: 55px !important;
  font-size: 18px !important;
}

.upsell__products {
  margin-top: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(26, 26, 26, 0.12);
}

.upsell__products-title {
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 500;
}

.cart-drawer .totals {
  margin-top: 0 !important;
}

.upsell__products-product {
  border-radius: 0.4rem;
  padding: 10px 1.5rem;
  background: #f6f6f7;
}

.upsell__products-product-image {
  display: flex;
  background: #f6f6f7;
}

.upsell__products-product-image a {
  display: flex;
  text-decoration: none;
}
.upsell__products-product-image a img {
  object-fit: contain;
}

.upsell__products-product {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.upsell__products-product-content h2 {
  font-size: 1.4rem;
  color: #000000;
  line-height: 1.2;
  margin-block: 0 0.5rem;
}

.upsell__products-product-content button {
  background: #7bbc72;
  border: none !important;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  height: 3.5rem !important;
  margin: 0;
  max-height: 3.5rem !important;
  min-height: 3rem !important;
  padding: 5px 16px !important;
  width: 100% !important;
  border-radius: 5px !important;
  text-align: center;
  margin-top: 0;
  min-width: 100%;
  padding: 0 !important;
}

.upsell__products-product-content button::after,
.upsell__products-product-content button::before {
  display: none;
}

.upsell__products-product {
  margin-bottom: 1rem;
}

.upsell__products-product-content-price .price {
  font-size: 1.3rem;
}

.upsell__products-product-content-price .price .price-item {
  margin-right: 0.4rem;
}

cart-drawer-items.is-empty {
  display: none !important;
}

.cart-item__savings {
  color: #2ea818;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 1.1;
  display: block;
  margin-top: 0.5rem;
  letter-spacing: -0.025em;
}

.cart-drawer .cart-item__totals {
  padding-left: 0 !important;
  margin-top: 0.6rem !important;
  letter-spacing: -0.02em;
}

.cart-drawer .cart-item {
  gap: 0.5rem !important;
}
.drawer__cart-items-wrapper {
  padding-top: 10px;
}
.cart-drawer .cart-item__image {
  border-radius: 5px;
}

.upsell__products-product-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.upsell__products-product-content > div {
  flex: 1;
}

.upsell__products-product-content > product-form {
  width: 10rem;
}

.upsell__products-product-content > product-form .appstle_sub_widget {
  display: none !important;
}
.upsell__products-product-content-price .price .price-item--sale {
    font-weight: bold;
  }

@media (max-width: 768px) {
  cart-drawer-items,
  .drawer__header,
  .drawer__footer {
    padding-inline: 1.5rem !important;
  }

  .upsell__products-product-content h2 {
    font-size: 1.2rem;
  }

  .upsell__products-product-content button {
    font-size: 1.2rem;
  }

  .upsell__products-product-content > product-form {
    width: 8rem;
    border-radius: 0.3rem;
  }

  .upsell__products-product-content-price .price .price-item {
    font-size: 1.1rem;
  }
}
